<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="description" content="">
    <meta name="author" content="gg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="src/styles.css">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="src/systemjs.config.js"></script>
    <script>
    System.import('src/main.js').catch(function(err){ console.error(err); });
    </script>
</head>
<body>





    <div class="db-form-auth">
            <p><b>DB Auth:</b></p>
            <input class="db-form-auth__input-name" type="text" name="name" value="" placeholder="login"></br>
            <input class="db-form-auth__input-password" type="password" name="password" value="" placeholder="password"></br>
            <p><input class="db-form-auth__btn-connect" type="button" value="connect"> <input type="reset" value="reset"></p>   
    </div>


    <div class="response-block">
        <span class="response-block__result">response</span>
    </div>

    <my-app>Loading AppComponent content here ...</my-app>





<!-- SCRIPTS -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="src/custom/script.js"></script>
</body>
</html>