<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>index</title>
<meta name="description" content="">
<meta name="author" content="gg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="">
</head>
<body>










    <div class="db-form-auth">
            <p><b>DB Auth:</b></p>
            <input class="db-form-auth__input-name" type="text" name="name" value="" placeholder="login"></br>
            <input class="db-form-auth__input-password" type="password" name="password" value="" placeholder="password"></br>
            <p><input class="db-form-auth__btn-connect" type="button" value="connect"> <input type="reset" value="reset"></p>   
    </div>


    <div class="response-block">
        <span class="response-block__result">response</span>
    </div>







<!-- SCRIPTS -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>
